In [1]:
import pandas as pd
#groupby 
#merge
#append
#concate
#join

In [2]:
df=pd.read_csv(r"C:\Users\hp\Desktop\IPL Matches 2008-2020.csv")
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [12]:
#use median with groupby function




df[df["city"]=="Delhi"].groupby(["toss_winner"]).median()

                                    id  neutral_venue  result_margin
toss_winner
Chennai Super Kings           598070.0            0.0           34.0
Deccan Chargers               460188.0            0.0           11.5
Delhi Capitals               1176888.5            0.0            6.0
Delhi Daredevils              548372.0            0.0            8.0
Kings XI Punjab               573214.0            0.0            5.0
Kochi Tuskers Kerala          501238.0            0.0            7.0
Kolkata Knight Riders         980983.0            0.0           24.5
Mumbai Indians                829747.0            0.0           37.0
Rajasthan Royals              781845.0            0.0            5.0
Rising Pune Supergiants       980965.0            0.0            7.0
Royal Challengers Bangalore   829757.0            0.0           10.0
Sunrisers Hyderabad           857505.0            0.0            4.5

In [13]:
#use median with groupby function



df[df["city"]=="Delhi"].groupby(["toss_winner"]).mean()

                                       id  neutral_venue  result_margin
toss_winner
Chennai Super Kings          6.805384e+05            0.0          36.00
Deccan Chargers              4.511792e+05            0.0          11.00
Delhi Capitals               1.176890e+06            0.0           9.00
Delhi Daredevils             7.115962e+05            0.0          20.80
Kings XI Punjab              5.954175e+05            0.0          10.75
Kochi Tuskers Kerala         5.012380e+05            0.0           7.00
Kolkata Knight Riders        9.820728e+05            0.0          27.50
Mumbai Indians               8.270910e+05            0.0          26.60
Rajasthan Royals             8.021158e+05            0.0           5.50
Rising Pune Supergiants      9.809650e+05            0.0           7.00
Royal Challengers Bangalore  7.772466e+05            0.0           7.60
Sunrisers Hyderabad          8.721130e+05            0.0           5.25

In [22]:
# to find which team win toss with its player of match in group


df.groupby(["toss_winner","player_of_match"]).mean()

                                            id  neutral_venue  result_margin
toss_winner         player_of_match
Chennai Super Kings A Nehra           829821.0            0.0            3.0
                    AB de Villiers    734013.0            0.0            5.0
                    AM Rahane         829735.0            0.0            8.0
                    AT Rayudu        1176549.0            0.0            6.5
                    BB McCullum       829732.0            0.0           71.0
...                                        ...            ...            ...
Sunrisers Hyderabad Shubman Gill     1216545.0            0.0            7.0
                    UT Yadav          781898.0            0.0           21.0
                    V Kohli           713927.5            0.0            6.5
                    YK Pathan         981009.0            0.0           22.0
                    YS Chahal        1216534.0            0.0           10.0

[542 rows x 3 columns]

In [21]:
#we can use "iloc" function with groupby to probide the variable lenth range of the 
#data in the data set.



df.groupby(["toss_winner","player_of_match"]).mean().iloc[0:5]

                                            id  neutral_venue  result_margin
toss_winner         player_of_match
Chennai Super Kings A Nehra           829821.0            0.0            3.0
                    AB de Villiers    734013.0            0.0            5.0
                    AM Rahane         829735.0            0.0            8.0
                    AT Rayudu        1176549.0            0.0            6.5
                    BB McCullum       829732.0            0.0           71.0