In [35]:
import pandas as pd

In [36]:

df=pd.read_csv(r"C:\Users\hp\Desktop\Bengaluru_House_Data.csv")

In [37]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,@@@@@@,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [38]:
#find null data

df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5501
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [39]:
#find all missing data percentage
a=df["location"].isnull().sum()
b=df.shape[0]
per=a/(b)*100
print("percentage of missing data in location col:",per)

percentage of missing data in location col: 0.0075075075075075074

In [40]:
df["society"].dtype

dtype('O')

In [41]:
df["society"].mode()

0    GrrvaGr
Name: society, dtype: object

In [46]:
#some mistake occer the solution is given in next part of the pandas 

df["society"].fillna(df["society"].mode(),inplace=True)

In [47]:
df['society'].isnull().sum()

5501

In [48]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5501
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [49]:
df['society']

0        Coomee
1        Theanmp
2         @@@@@@
3        Soiewre
4            NaN
          ...
13315    ArsiaEx
13316        NaN
13317    Mahla T
13318    SollyCl
13319        NaN
Name: society, Length: 13320, dtype: object